snippet copy "Copyright followed Google style." b
// Copyright (c) `date '+%Y'`, junbin.rjb
// All right reserved
//
// Author: junbin.rjb <837940593@qq.com>
// Created: `date '+%Y/%m/%d'`
// Description

${0}
endsnippet

snippet todo "Add todo comment." b
// TODO(junbin.rjb)
// ${0}
endsnippet
